/* box to hold the forgot password content */
.forgot {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    border: 2px solid #242424;
    border-radius: 8px;
    background-color: #ffffff;
}

/* forgot password text */
.forgot h1 {
    text-align: center;
    font-size: 2rem;
    color: #242424;
}

/* text explaining how the password reset works */
.forgot-info {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1rem;
    color: #242424;
}

/* css to edit the breeze setup */
.forgot input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ada9a9;
    border-radius: 3px;
    font-size: 1rem;
}

/* css to edit the breeze error */
.forgot-error {
    color: #ff1900;
    font-size: 1rem;
    list-style-type: none;
}

/* send email button styling */
.forgot button {
    width: 100%;
    margin-top: 10px;
    background-color: #242424;
    color: #ffa51f;
    padding: 10px 10px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
}

/* send email button hover */
.forgot button:hover {
    background-color: #2e2e2e;
}
