/* box to hold the register content */
.register {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    border: 2px solid #242424;
    border-radius: 8px;
    background-color: #ffffff;
}

/* welcome  text */
.register h1 {
    text-align: center;
    font-size: 2rem;
    color: #242424;
}

/* css to edit the breeze setup */
.register input[type="text"],
.register input[type="email"],
.register input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ada9a9;
    border-radius: 3px;
    font-size: 1rem;
}

/* css to edit the breeze error */
.register-error {
    color: #ff1900;
    font-size: 1rem;
    list-style-type: none;
}

/* register button styling */
.register button {
    width: 100%;
    margin-top: 10px;
    background-color: #242424;
    color: #ffa51f !important;
    padding: 10px 10px !important;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
}

/* register button hover */
.register button:hover {
    background-color: #2e2e2e;
}

/* push already registered button up a bit */
.register-already {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* keep text same color even after clicking it */
.register-already a {
    color: #0066ff;
}
